.bottomline{
    display: flex;
}

.holder{
    background-color: #444444;
    border-radius: 25px;
    margin:10px;
    padding: 9px;
    width: auto;
    /* width: 328px; */
}
hr{
    margin: 30px 0px;
}


.topline{
    display: flex;
    /* justify-content: space-around; */
}

.topline img{
    clip-path: circle(40%);
}

.topline > img{
    width: 68px;
    height: 68px;
    /* transform: scale(.5); */
}
