.sidebar > hr{
    border: 1px solid #282828;
    margin: 10px auto;
    width: 90%;
}
.sidebarOption{
    align-items: center;
    color: grey;
    cursor: pointer;
    display: flex;
    height: 40px;
    margin: 0px 0px 0px 10px;
    transition: 200ms color ease-in;
}

.sidebarOption:hover{
    color: white;
}

.sidebarOption_icon{
    margin: 0px 10px 0px 0px;
    padding: 0px 0px;
}

.sidebarOption > p{
    font-size: 14px;
    margin: 10px 20px 0px 0px;
}

.sidebar_title{
    font-size: 12px;
    margin-left: 10px;
    padding: 5px;
}
